body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: aqua;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
    padding-left: 50%;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  div{
    text-align: center;
    padding-top: 12%;
  }
  